.free {
  background-color: rgb(127, 233, 130);
  color: black;
  text-align: center;
  border-radius: 3px;
  float: left;
}
.used {
  background-color: rgb(255, 251, 0);
  color: black;
  text-align: center;
  border-radius: 3px;
  float: left;
}
.full {
  background-color: #f1565e;
  color: black;
  text-align: center;
  border-radius: 3px;
  float: left;
}
.shelf-list {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
}
#chinh div.shelfDraw {
  text-align: center;
  padding: 1%;
  margin: 1%;
  width: 12%;
  float: left;
  border-radius: 2%;
  position: relative;
}
#chinh div.shelfDraw:hover {
  background-color: rgb(135, 141, 135);
}
#chinh .free {
  background-color: rgb(127, 233, 130);
  color: green;
}
#chinh .used {
  background-color: rgb(255, 251, 0);
  color: orange;
}
#chinh .full {
  background-color: #f1565e;
  color: red;
}
#chinh input.shelf {
  width: 100%;
}
#chinh img {
  width: 100% !important;
}
#chinh span {
  font-size: 20px;
  font-weight: bold;
}
div.modal {
    display: none;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: auto auto !important; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 95%; /* Could be more or less, depending on screen size */
    height: 60%;
  }
